/* General Styling */
.container-fluid {
  background-color: #f8f9fa;
}

.card {
  border-radius: 10px;
  max-height: 80vh;
}

.text-center {
  text-align: center;
}

img.rounded-circle {
  object-fit: cover;
}

/* Styling the Artist List */
ul.list-group {
  overflow-y: auto;
}

/* Remove border from all list-group-item elements */
ul.list-group .list-group-item {
  border: none; /* Remove borders from all items */
  box-shadow: none;
}

/* Remove the top border of the first list item */
ul.list-group .list-group-item:first-child {
  border-top: none;  /* Remove top border */
}

/* Ensure the artist name is left-aligned */
ul.list-group .list-group-item .artist-name {
  text-align: left;
  flex-grow: 1;  /* Allow the name to take up the remaining space */
  font-size: 18px;
  font-weight: 500;
}

ul.list-group .list-group-item:hover {
  background-color: #f0f0f0;
}

ul.list-group .list-group-item img {
  object-fit: cover;
}

ul.list-group .list-group-item .text-dark {
  font-size: 18px;
  font-weight: 500;
}

/* Sidebar Styling */
.list-group-item {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #f0f0f0;
  }
}

/* Adjust the size of the Spotify icon */
.spotify-icon {
  width: 20px;   /* Adjust the size of the icon (20px should fit well in line with the text) */
  height: auto;  /* Maintain the aspect ratio */
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;  /* Add some space between the icon and the text */
}


#artist-search {
  margin-bottom: 20px;
}


/* Leaderboard Styling */
#leaderboard {
  position: relative;
}
#leaderboard-section .card {
  min-height: 400px;
}

#leaderboard-section .leaderboard-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

#leaderboard-section .leaderboard-entry img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

/* Rewards & Missions */
.reward-section h6 {
  font-weight: bold;
  color: #ff9800;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  font-size: 16px;

}


/* Spotify and YouTube Status Buttons */
.btn-account-status {
  width: 100%; /* Make buttons take the full width of their flex container */
  height: 40px;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;  /* Prevent text from wrapping */
  overflow: hidden;     /* Ensure the text stays inside the button */
  text-overflow: ellipsis;  /* Handle text overflow with an ellipsis */
}

/* The + Button Styling */
.btn-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC107; /* Always yellow */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-circle i {
  font-size: 18px;
}

/* Custom styles for the search input */
.search-input {
  border: 2px solid black;  /* Set border to black */
  border-radius: 50%;       /* Round the corners to 50% */
}

.highlighted {
  background-color: #FFb000 !important; /* Your chosen highlight color */
  color: white !important;
  font-weight: bold !important;
}


.fixed-user-card {
  position: sticky;
  bottom: 0;
  background-color: #f6ae36; /* Same highlight color */
  color: #ffffff; /* White text for contrast */
  font-weight: bold;
  z-index: 1000;
}

.list-group-item.highlighted {
  background-color: #f6ae36; /* Match the highlighted color */
  color: #ffffff;
}


.reward-carousel {
  .carousel-inner {
    p {
      color: #ffffff;
    }

    .text-place{
      color: #fffa00;
      font-size: 36px;
    }

    .reward-card {
      padding: 4vw;
      border-radius: 8px;
    }

    .bg-rectangle {
      background-image: url('rectangle.png');
      background-size: contain; /* Changes from cover to contain */
      background-repeat: no-repeat; /* Prevents the image from repeating */
      background-position: center; /* Centers the image */
      width: 100%; /* Ensures it spans the full width of the container */
      height: auto; /* Allows the height to adjust based on width */
    }

    .reward-icon {
      font-size: 4rem;
      color: #ffffff; // Yellow color for icon
    }
  }
}

.daily-missions-title {
  font-weight: bold;
  color: #000;
}

.daily-missions-list {
  list-style-type: none;
  padding: 0;
}

.mission-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 2px solid #ffb000; /* Border color for non-highlighted items */
  border-radius: 8px;
  font-size: 16px;
  color: #ffb000;
  margin-top: 10px;
}

.points {
  font-weight: bold;
}
